<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="static/css/main.css"/>
    <script src="/static/js/hello.js"></script>
	<title>User Info</title>
</head>
<body>
    
    {{if .Password}}<p>welcome back, {{.Username}}!</p> 
    {{else}} <p>password need to be input</p>
    {{end}}

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Work</th>
        </tr>
       {{with .List}}
       {{range .}} 
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Work}}</td>
        </tr>
        {{end}}
        {{end}}
    </table>

    <div>
        <p class="greeting-id">The ID is </p>
        <p class="greeting-content">The content is </p>
    </div>
</body>
</html>